<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="/static/img/apple-icon.png">
    <link rel="icon" type="image/png" href="/static/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>Music Gennre Classification</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

    <!--     Fonts and icons     -->
    <link rel="stylesheet" href="/static/css/icon.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/fonts.css" />
    <link rel="stylesheet" href="/static/css/font-awesome.min.css" />

    <!-- CSS Files -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/static/css/material-kit.css" rel="stylesheet"/>

    <link rel="stylesheet" href="/static/css/jquery.fileupload-ui.css">
<!-- CSS adjustments for browsers with JavaScript disabled -->
<noscript><link rel="stylesheet" href="/static/css/jquery.fileupload-ui-noscript.css"></noscript>

<link href="/static/css/bootstrap-toggle.min.css" rel="stylesheet">


<style type="text/css">
    
    .col-md-4 {
        width: 60%;
    }
    
    .col-md-offset-4 {
    margin-left: 20%;
    }
    
    #fd {
    color: #9c27b0;

    }  

    h4 {
    font-family: Impact,Haettenschweiler,Franklin Gothic Bold,Charcoal,Helvetica Inserat,Bitstream Vera Sans Bold,Arial Black,sans serif;
    font-size: 26px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.4px;
} 



  .toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 20px; }
  .toggle.ios .toggle-handle { border-radius: 20px; }

  .toggle.android { border-radius: 0px;}
  .toggle.android .toggle-handle { border-radius: 0px; }
  </style>

  

</head>

<body class="signup-page">


    <nav class="navbar navbar-transparent navbar-absolute">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                <i class="fa fa-music"></i>MGC</a>
            </div>

            <div class="collapse navbar-collapse" id="navigation-example">
                <ul class="nav navbar-nav navbar-right">
                <li>
                        <a href="/" >
                            <i class="fa fa-home"></i> Home
                        </a>
                    </li>
                    <li>
                        <a href="/help" >
                            <i class="fa fa-question"></i> Help
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/indrajithi/mgc-django" target="_blank">
                            <i class="fa fa-github  "></i> Source


                        </a>
                        
<input  id="ismulti" checked data-toggle="toggle" data-onstyle="success" data-offstyle="warning" data-on="Single" data-off="Multi"  data-style="ios" type="checkbox" > 
                    </li>
                    <li>
                        <a href="#" >
                            <i class="fa fa-file-pdf-o"></i> Docs
                        </a>
                    </li>
                    
                </ul>
            </div>
        </div>
    </nav>

    <div class="wrapper">
        <div class="header header-filter" style="background-image: url('/static/img/bac6.jpg'); background-size: cover; background-position: top center;">
            <div class="container">
                <div class="row">
                  
                        
            

   

     <div class="container " style="width: 40%">
     <div class="card card-signup" style="background-image: url('/static/img/bac8.jpg'); background-size: cover; background-position: top center;">
     <div class="header header-primary text-center" style="background-image: url('/static/img/bac.jpg'); background-size: cover; background-position: top center;">
                                    <h4 style=" ">Music Genre Classifier</h4>
                                    <div class="social-line">
                                        <a href="https://github.com/indrajithi/mgc-django" class="btn btn-simple btn-just-icon" target="_blank">
                                            <i class="fa fa-github"></i>

                                        </a>
                                        <a href="" class="btn btn-simple btn-just-icon" target="_blank">
                                            <i class="fa fa-music "></i>
                                        </a>

                                        <a href="/help" class="btn btn-simple btn-just-icon" >
                                            <i class="fa fa-info-circle "></i>
                                        </a>
                                    </div>
                                </div>
    <form id="fileupload" action="." method="POST" enctype="multipart/form-data" data-ng-app="demo" data-ng-controller="DemoFileUploadController" data-file-upload="options" data-ng-class="{'fileupload-processing': processing() || loadingFiles}"> {% csrf_token %}
        <!-- Redirect browsers with JavaScript disabled to the origin page -->
        <noscript><input type="hidden" name="redirect" value="#"></noscript>
        <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
        <div class="row fileupload-buttonbar" style="padding-left: 70px;">
            <div class="">
                <!-- The fileinput-button span is used to style the file input field as button -->
                <span class="btn btn-success fileinput-button" ng-class="{disabled: disabled} " style="font-size: 15px; padding-bottom: 16px;padding-top: 16px;">
                    <i class="fa fa-upload"></i>
                    <span>Upload File</span>
                    <input type="file" name="file"  ng-disabled="disabled">
                </span>
                <button id="find"  type="button" class="btn btn-danger start" data-ng-click="find()" style="font-size: 15px; padding-bottom: 16px;padding-top: 16px;">
                    <i class="fa fa-music "></i>
                    <span> Find Genre</span>
                </button>
                       
                
               <!--  <button type="button" class="btn btn-danger delete" data-ng-click="delete()">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Delete All</span>
                </button>  -->

                <!-- The loading indicator is shown during file processing -->
                <div class="fileupload-loading"></div>
            </div>
            <!-- The global progress information -->
            <div class="col-lg-5 fade" data-ng-class="{in: active()}">
                <!-- The global progress bar -->
                <div class="progress progress-striped active" data-file-upload-progress="progress()"><div class="progress-bar progress-bar-success" data-ng-style="{width: num + '%'}"></div></div>
                <!-- The extended global progress information -->
                <div class="progress-extended">&nbsp;</div>
            </div>
        </div>
        {% verbatim %}
        <br>
        <!-- The table listing the files available for upload/download -->
        <table class="table table-striped files ng-cloak" >
            <tr data-ng-repeat="file in queue">
                <td data-ng-switch data-on="!!file.thumbnailUrl">
                    <div style=" color: #9c27b0;" class="preview" data-ng-switch-when="true">
                        <a data-ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}" data-gallery><img data-ng-src="{{file.thumbnailUrl}}" alt=""></a>
                    </div>
                    <div class="preview" data-ng-switch-default data-file-upload-preview="file"></div>
                </td>
                <td>
                    <p class="name" data-ng-switch data-on="!!file.url">
                        <span data-ng-switch-when="true" data-ng-switch data-on="!!file.thumbnailUrl">
                            
                            <span >{{file.name}}</span>

                        </span>
                        <span data-ng-switch-default>{{file.name}}</span>
                    </p>
                    <div data-ng-show="file.error"><span class="label label-important">Error</span> {{file.error}}</div>
                </td>
                <td>
                   
                    <div class="progress progress-striped active fade" data-ng-class="{pending: 'in'}[file.$state()]" data-file-upload-progress="file.$progress()"><div class="progress-bar progress-bar-success" data-ng-style="{width: num + '%'}"></div></div>
                </td>
                <td>
                    <button type="button" class="btn btn-primary start" data-ng-click="file.$submit()" data-ng-hide="!file.$submit">
                        <i class="glyphicon glyphicon-upload"></i>
                        <span>Start</span>
                    </button>
                    
                    <button data-ng-controller="FileDestroyController" type="button" class="btn btn-warning destroy" data-ng-click="file.$cancel()" data-ng-hide="!file.$cancel">
                        <i class="glyphicon glyphicon-trash"></i>
                        <span>Cancel</span> 
                    </button> 
                    
                    
                   
                     <button data-ng-controller="FileDestroyController" type="button" class="btn btn-info destroy" data-ng-click="" 
                     style="font-size: 15px; padding-bottom: 25px;padding-top: 25px;"
                    data-ng-hide="!resp"  >
                        <i class="glyphicon glyphicon-music"></i>
                        <span ng-if='!resp'>Label</span>
                        <span>{{ resp }}</span>

                    </button>
                    
                </td>

            </tr>

        </table>
        
        {% endverbatim %}
    </form>
        
    </div>
    </div>
<footer class="footer">
   
</footer>
 
</body>
    <!--   Core JS Files   -->
    <script src="/static/js/jquery.min.js" type="text/javascript"></script>
    <script src="/static/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/static/js/material.min.js"></script>

    <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
    <script src="/static/js/nouislider.min.js" type="text/javascript"></script>

    <!--  Plugin for the Datepicker, full documentation here: http://www.eyecon.ro/bootstrap-datepicker/ -->
    <script src="/static/js/bootstrap-datepicker.js" type="text/javascript"></script>

    <!-- Control Center for Material Kit: activating the ripples, parallax effects, scripts from the example pages etc -->
    <script src="/static/js/material-kit.js" type="text/javascript"></script>



    <script src="/static/js/jquery.min.js"></script>
<script src="/static/js/angular.min.js"></script>
<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
<script src="/static/js/vendor/jquery.ui.widget.js"></script>
<!-- The Load Image plugin is included for the preview images and image resizing functionality -->
<script src="/static/js/load-image.min.js"></script>
<!-- The Canvas to Blob plugin is included for image resizing functionality -->
<script src="/static/js/canvas-to-blob.min.js"></script>
<!-- Bootstrap JS is not required, but included for the responsive demo navigation -->

<!-- blueimp Gallery script -->
<script src="/static/js/jquery.blueimp-gallery.min.js"></script>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="/static/js/jquery.iframe-transport.js"></script>
<!-- The basic File Upload plugin -->
<script src="/static/js/jquery.fileupload.js"></script>
<!-- The File Upload processing plugin -->
<script src="/static/js/jquery.fileupload-process.js"></script>
<!-- The File Upload image preview & resize plugin -->
<script src="/static/js/jquery.fileupload-image.js"></script>
<!-- The File Upload audio preview plugin -->
<script src="/static/js/jquery.fileupload-audio.js"></script>
<!-- The File Upload video preview plugin -->
<script src="/static/js/jquery.fileupload-video.js"></script>
<!-- The File Upload validation plugin -->
<script src="/static/js/jquery.fileupload-validate.js"></script>
<!-- The File Upload Angular JS module -->
<script src="/static/js/jquery.fileupload-angular.js"></script>
<!-- The main application script -->
<script src="/static/js/app.js"></script>
<script src="/static/js/csrf.js"></script>

<script src="/static/js/bootstrap-toggle.min.js"></script>

</html>
